@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
width: 100vw;
height: 800vh;
background-color: black;
align-items: center;
justify-content: center;



}



header{

width: 100vw;
height: 50vh;
align-items: center;
justify-content: center;
display: flex;
font-size: 10rem;
background-image: url(https://media4.giphy.com/media/cmegx6SssTKmEFEcwj/200w.webp?cid=ecf05e47bewu0zihfa12ktxkyr4z0s9gwh7mmah9dcnq85h8&rid=200w.webp&ct=g);
background-position: center;
-webkit-background-clip: text;
font-weight: 800;
color: transparent;


}




.section-art{

width: 100vw;
height: 850vh;
color: aliceblue;
display:grid;
align-items: center;
justify-content: center;
 }
.section-one{

    width: 100vw;
    height: 850vh;
    color: aliceblue;
    display:grid;
margin-top:60px ;
justify-content: center;
align-items: center;
}

img{
    height: 100vh;
    width: 70vw;
    margin-top: 60px ;
    border-radius: 10px;
    padding: 5px;
}


.painting-one{
    height: 150vh;
    width: 85vw;
    border: 3px solid whitesmoke;
text-align: center;
align-items: center;
justify-content: center;
box-shadow:0 0 20px 20px  rgb(0, 183, 255);
border-radius: 10px;

}


.painting-two{
    height: 150vh;
    width: 85vw;
    text-align: center;
    border: 3px solid whitesmoke;
    box-shadow:0 0 20px 20px  rgba(255, 0, 200,1);
    border-radius: 10px;
}


.painting-three{
    height: 150vh;
    width: 85vw;
    text-align: center;
    border: 3px solid whitesmoke;
    box-shadow:0 0 20px 20px  rgba(255, 0, 200,1);
    border-radius: 10px;
}


.painting-four{
    height: 150vh;
    width: 85vw;
    text-align: center;
    border: 3px solid whitesmoke;
    box-shadow:0 0 20px 20px  rgba(255, 0, 200,1);
    border-radius: 10px;
}


.painting-five{
    height: 150vh;
    width: 85vw;
    text-align: center;
    border: 3px solid whitesmoke;
    box-shadow:0 0 20px 20px  rgba(255, 0, 200,1);
    border-radius: 10px;
}


.painting-six{
    height: 150vh;
    width: 85vw;
    text-align: center;
    border: 3px solid whitesmoke;
    box-shadow:0 0 20px 20px  rgba(255, 0, 200,1);
    border-radius: 10px;
}


footer{
    height:20vh;
    width: 100vw;
border-top: 3px solid whitesmoke;
justify-content: center;
align-items: center;
text-align: center;
display: flex;
box-shadow: 0 0 20px 20px rgba(255, 0, 200,1);
}


ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

li a {
    list-style-type: none;
    color: rgba(255, 0, 200,1);
text-decoration: none;
margin: 0% 5vw;
}


p{
    padding: 5px;
   
}


a:hover{
    color: rgba(255, 0, 200,0.5);
}


h1{
    font-family: 'Roboto', sans-serif;
}





.images{
    display: flex;
 margin-left: 50%;
 transform: translateX(-50%);
}